/* Importing Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap');

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #000;
	background: url("images/first-sunrise-2024.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background: rgba(255,255,255,0.75);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.date-section {
	font-family: 'Roboto', sans-serif;
}

.diary-content {
	line-height: 1.6;
}

.navigation-buttons {
	margin-top: 20px;
}

button {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #eee;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #ddd;
}

#prevDayBtn {
	margin-right: 10px;
}

#nextDayBtn {
	margin-left: 10px;
}